@using System.Web.Optimization
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Blog App</title>
        @Styles.Render("~/styles")
    </head>
    <body>
        <header>
            <h1>
                <a href="@Url.RouteUrl("home")">A Blog App</a>
                <i class="glyphicon glyphicon-bell"></i>
            </h1>
            
            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome back, @User.Identity.Name</p>
                <a href = "@Url.RouteUrl("logout")" >Logout</a>
                if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("Index", "Posts", new {area = "admin"})">View posts in admin</a>
                }
            }
            else
            {
                <a href="@Url.RouteUrl("login")">Login</a>
            }
           
        </header>
        @RenderBody()
        <footer>
            &copy; @DateTime.UtcNow.Year - muhfred
        </footer>
        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)
    </body>
</html>
